.userInfo251ProfileContainer {
    padding-top: 120px;
}

.userInfo251MainContainer {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.userInfo251Button:focus {
    outline: 0.5rem auto #4d90fe;
}

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

@media only screen and (max-width: 500px) {
    .userInfo251ProfileContainer {
        padding-top: 70px;
    }
}